<%= simple_form_for(@team) do |f| %>
  <%= f.error_messages %>

  <div class="row">
    <div class="col-md-3">
      <%= f.input :name %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <div class="form-group email optional team_email">
        <label class="email optional control-label" for="team_email">Team distribution email address</label>
        <div class="input-group">
          <input class="string email optional form-control form-control" id="team_email" name="team[email]" type="email" value="" />
          <span class="input-group-addon">@mail.breakpointapp.com</span>
        </div>
        <p class="help-block">Create an email address to use to send email to the team</p>
        <p class="help-block">Anyone on the team can send email to this address and it will go to everyone on the team</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <%= f.input :date_string, :label => 'Starting when?', :input_html => { :class => 'datepicker' } %>
      <%= f.input :time_zone, priority: /US/ %>
      <%= f.input :singles_matches, :collection => 0..9, :input_html => { :class => 'span1' } %>
      <%= f.input :doubles_matches, :collection => 0..9, :input_html => { :class => 'span1' } %>

      <%= f.submit 'Save team', :class => 'btn btn-primary' %>
      <% if policy(@team).captain?%>
          <%= link_to 'Delete team',
            @team,
            :data => { :confirm => 'Are you sure?' },
            :method => :delete,
            :class => 'btn btn-danger' %>
      <% end%>
    </div>
  </div>
<% end %>

