<div class="row">
  <div class="col-md-3">
    <%= simple_form_for(@team) do |f| %>
      <%= f.error_messages %>

      <%= f.input :name %>
      <%= f.input :email, :hint => "Anyone on the team can send email to this address @mail.breakpointapp.com" %>
      <%= f.input :date_string, :label => 'Starting when?', :input_html => { :class => 'datepicker' } %>
      <%= f.input :singles_matches, :collection => 0..9, :input_html => { :class => 'span1' } %>
      <%= f.input :doubles_matches, :collection => 0..9, :input_html => { :class => 'span1' } %>

      <%= f.submit 'Save team', :class => 'btn btn-primary' %>
    <% end %>
  </div>
</div>

