<%= simple_form_for(@season, :html => { :class => 'form-horizontal' } ) do |f| %>
  <%= f.error_messages %>

  <%= f.input :name %>
  <%= f.input :date_string,
    :as => :string,
    :label => 'Starting when?',
    :required => true,
    :hint => "e.g. May #{Time.now.year}" %>
  <%= f.input :singles_matches, :collection => 0..9, :input_html => { :class => 'span1' } %>
  <%= f.input :doubles_matches, :collection => 0..9, :input_html => { :class => 'span1' } %>

  <div class="form-actions">
    <%= f.submit 'Save season', :class => 'btn btn-primary' %>
  </div>
<% end %>

