<h2>
  Matches
  <%= link_to 'Add a match', new_season_match_path(@season), :class => 'pull-right btn' %>
</h2>

<% if @season.upcoming_matches.empty? %>
  <div class="alert alert-block alert-info">
    <h4>No matches for this season yet.</h4>
    <%= link_to 'Add a match', new_season_match_path(@season) %> to get playing.
  </div>
<% else %>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th style="width: 163px;">Can play?</th>
        <th>Date</th>
        <th>Opponent</th>
        <th>Notify Team</th>
        <th>Setup Lineup</th>
        <th style="width: 82px;">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% @season.upcoming_matches.each do |match| %>
        <tr>
          <td>
            <div class="pull-left">
              <% if match_availability = match.match_availability_for_user(current_user.id) %>
                <%= link_to "I can't play",
                  match_match_availability_path(match, match_availability),
                  :method => :delete,
                  :class => 'btn btn-mini btn-warning' %>
              <% else %>
                <%= form_tag match_match_availabilities_path(match), :style => 'margin-bottom: 0px;' do %>
                  <%= submit_tag "I can play", :class => 'btn btn-mini' %>
                <% end %>
              <% end %>
            </div>
            <div class="pull-right">
              <%= render :partial => 'match_availabilities', :locals => { :match => match } %>
            </div>
          </td>
          <td>
            <%= match.location.humanize %> on
            <%= l match.date, :format => :long %>
          </td>
          <td><%= match.opponent %></td>
          <td><%= link_to 'Notify', new_match_notification_path(match) %></td>
          <td><%= link_to 'Set the lineup', edit_lineup_match_path(match) %></td>
          <td>
            <%= link_to 'Edit', edit_season_match_path(@season, match), :class => 'btn btn-mini' %>
            <%= link_to 'Delete',
              season_match_path(@season, match),
              :data => { :confirm => 'Are you sure?' },
              :method => :delete,
              :class => 'btn btn-mini btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
