<% title 'Seasons' do %>
  Seasons
  <%= link_to 'New season', new_season_path, :class => 'btn' %>
<% end %>

<% if @seasons.empty? %>
  <div class="alert alert-block alert-info">
    <h4>No seasons created yet.</h4>
    Make a <%= link_to 'new season', new_season_path %> to get started.
  </div>
<% else %>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Matches</th>
        <th style="width: 102px;">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% @seasons.each do |season| %>
      <tr>
        <td><%= link_to season.name, season_practices_path(season) %></td>
        <td><%= l season.date %></td>
        <td>
          <%= season.singles_matches %> singles,
          <%= season.doubles_matches %> doubles
        </td>
        <td>
          <%= link_to 'Edit', edit_season_path(season), :class => 'btn btn-small' %>
          <%= link_to 'Delete',
            season,
            :data => { :confirm => 'Are you sure?' },
            :method => :delete,
            :class => 'btn btn-small btn-danger' %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
