<% subtitle 'Invite team members' %>

<div class="alert alert-info">
  <h4>Invite members to your team!</h4>
  Search for members by name or email address, or enter an email address to invite someone new.
</div>

<div class="row">
  <div class="col-md-5">
    <%= form_tag team_invites_path(@team), :method => :get do %>
      <div class="form-group">
        <div class="input-group">
          <input class="form-control" name="search" type="text" value="<%= params[:search] %>">
          <span class="input-group-btn">
            <input class="btn btn-default" name="commit" type="submit" value="Search" />
          </span>
        </div>
      </div>
    <% end %>
  </div>
</div>

<% if @users.present? %>
  <h3>Found users</h3>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th style="width: 51px;">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td>
            <% if @team.accepted_team_members.collect(&:user_id).include?(user.id) %>
              <span class="label label-info">On team</span>
            <% elsif @team.not_accepted_team_members.collect(&:user_id).include?(user.id) %>
              <span class="label label-info">Invited</span>
            <% else %>
              <%= form_for [@team, @team.invites.build(:user_id => user.id)], :html => { :style => 'margin: 0px;' } do |f| %>
                <%= f.hidden_field :user_id %>
                <%= f.submit 'Invite', :class => 'btn btn-xs btn-success' %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% elsif @email.present? %>
  <div class="alert alert-warning">
    <h4><%= @email %> has no account yet</h4>
    Add their name and click "Invite" to send them an invititation email.
  </div>
  <div class="row">
    <div class="col-md-3">
      <%= simple_form_for([@team, @team.invites.build(:email => @email)]) do |f| %>
        <%= f.input :name, :label => 'Full name' %>
        <%= f.input :email, :as => :hidden %>

        <%= f.submit "Invite #{@email}", :class => 'btn btn-success' %>
      <% end %>
    </div>
  </div>
<% elsif params[:search].present? %>
  <div class="alert alert-warning">
    <h4>No results found for <%= params[:search] %></h4>
    Try entering an email address to invite someone new.
  </div>
<% end %>

<% if @invites.present? %>
  <h3>Invited users</h3>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Invited on</th>
        <th>Invited by</th>
        <th>Accepted on</th>
      </tr>
    </thead>
    <tbody>
      <% @invites.each do |invite| %>
      <tr>
        <td><%= invite.user.name %></td>
        <td><%= l invite.created_at %></td>
        <td><%= invite.invited_by.name %></td>
        <td>
          <% if invite.accepted? %>
            <%= l invite.accepted_at %>
          <% else %>
            <span class="label label-info">Pending</span>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

