<% subtitle 'Invite team members' %>

<div class="alert alert-block alert-info">
  <h4>Invite members to your team!</h4>
  Search for members by name or email address, or enter an email address to invite someone new.
</div>

<%= form_tag team_invites_path(@team), :method => :get do %>
  <div class="input-append">
    <input class="span3" name="search" type="text" value="<%= params[:search] %>">
    <input class="btn" name="commit" type="submit" value="Search" />
  </div>
<% end %>

<% if @users.present? %>
  <h3>Found users</h3>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th style="width: 51px;">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td>
            <%= form_for [@team, @team.invites.build(:email => user.email)], :html => { :style => 'margin: 0px;' } do |f| %>
              <%= f.hidden_field :email %>
              <%= f.submit 'Invite', :class => 'btn btn-small btn-success' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% elsif @email.present? %>
  <div class="alert alert-block alert-warning">
    <h4><%= @email %> has no account yet</h4>
    Add their name and click "Invite" to send them an invititation email.
  </div>
  <%= simple_form_for([@team, @team.invites.build(:email => @email)], :html => { :class => 'form-horizontal' }) do |f| %>
    <%= f.error_messages %>

    <%= f.input :name, :label => 'Full name' %>
    <%= f.input :email, :as => :hidden %>

    <div class="form-actions">
      <%= f.submit "Invite #{@email}", :class => 'btn btn-success' %>
    </div>
  <% end %>
<% elsif params[:search].present? %>
  <div class="alert alert-block alert-warning">
    <h4>No results found for <%= params[:search] %></h4>
    Try entering an email address to invite someone new.
  </div>
<% end %>

<% if @invites.present? %>
  <h3>Invited users</h3>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Invited on</th>
        <th>Invited by</th>
        <th>Accepted on</th>
        <th style="width: 55px;">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% @invites.each do |invite| %>
      <tr>
        <td><%= invite.user.name %></td>
        <td><%= invite.user.email %></td>
        <td><%= l invite.created_at %></td>
        <td><%= invite.invited_by.name %></td>
        <td><%= l invite.accepted_at if invite.accepted_at.present? %></td>
        <td>
          <% unless invite.accepted_at.present? %>
            <%= link_to 'Delete',
              team_invite_path(@team, invite),
              :data => { :confirm => 'Are you sure?' },
              :method => :delete,
              :class => 'btn btn-small btn-danger' %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

