<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>Status</th>
      <th>Role</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% team_members_index.sort_by { |tm| tm.user.name }.each do |team_member| %>
    <tr class="<%= "danger" unless team_member.active? %>">
      <td><%= team_member.user.name %></td>
      <td><%= mail_to team_member.user.email %></td>
      <td><%= team_member.user.phone_number %></td>
      <%# TODO add a "resend welcome email" if state is active %>
      <td><%= team_member.state %></td>
      <td><%= team_member.role.humanize %></td>
      <td>
        <% if policy(team_member).update? %>
          <%= link_to 'Edit', edit_team_team_member_path(current_team, team_member), :class => 'btn btn-xs btn-default' %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

