<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>Active</th>
      <th>Receive Email</th>
      <th>Role</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% team_members_index.sort_by { |tm| tm.user.first_name }.each do |team_member| %>
    <tr<%= raw ' class="error"' unless team_member.active? %>>
      <td><%= team_member.user.name %></td>
      <td><%= mail_to team_member.user.email %></td>
      <td><%= team_member.user.phone_number %></td>
      <td style="text-align: center;"><%= '<i class="icon-ok"></i>'.html_safe if team_member.active %></td>
      <td style="text-align: center;"><%= '<i class="icon-ok"></i>'.html_safe if team_member.receive_email %></td>
      <td><%= team_member.role.humanize %></td>
      <td>
        <%= link_to 'Edit', edit_team_team_member_path(current_team, team_member), :class => 'btn btn-small' %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

