<% subtitle "Edit settings for #{@team_member.user.name}" %>

<%= simple_form_for([current_team, @team_member], :html => { :class => 'form-horizontal' } ) do |f| %>
  <%= f.error_messages %>

  <%= f.input :role, collection: TeamMember::ROLES, value_method: :to_s, label_method: :humanize, include_blank: false,
              :disabled => !policy(current_team).captain? %>
  <%= f.input :status, collection: TeamMember::Statuses, hint: 'change status to "Active, no email" to stop receiving emails', include_blank: false %>

  <div class="form-actions">
    <%= f.submit 'Save settings', :class => 'btn btn-primary' %>
  </div>
<% end %>

