<% subtitle "Edit settings for #{@team_member.user.name} (#{@team_member.role})" %>

<%= simple_form_for([current_team, @team_member]) do |f| %>
  <%= f.error_messages %>

  <% if @team_member.active? %>
    <div class="row">
      <div class="col-md-3">
        <% if policy(current_team).captain?%>
          <%= f.input :role, collection: TeamMember::ROLES, value_method: :to_s, label_method: :humanize, include_blank: false %>
        <% end%>

        <%= f.input :receive_email, label: false, inline_label: 'Receive email' %>
        <%= f.submit 'Save settings', :class => 'btn btn-primary' %>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-info">
          <h4>Deactivate team membership</h4>
          <p>Deactivating team membership means you won't receive email and you won't be available for match lineups.</p>
          <p>Come back anytime to activate again.</p>
          <p>
            <%= f.submit 'Deactivate team membership', :class => 'btn btn-warning' %>
          </p>
        </div>
      </div>
    </div>
  <% else %>
    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-info">
          <h4>Activate team membership</h4>
          <p>Activating team membership means you will receive email and you will be available for match lineups.</p>
          <p>You can deactivate anytime.</p>
          <p>
            <%= f.submit 'Activate team membership', :class => 'btn btn-info' %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

