<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th style="width: 82px;">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= mail_to user.email %></td>
      <td><%= user.phone_number %></td>
      <td>
        <%= link_to 'Edit', edit_user_path(user), :class => 'btn btn-mini' %>
        <%= link_to 'Delete',
          user,
          :data => { :confirm => 'Are you sure?' },
          :method => :delete,
          :class => 'btn btn-mini btn-danger' %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>