<% title 'Edit user profile' %>

<%= simple_form_for(@user, :html => { :class => 'form-horizontal' } ) do |f| %>
  <%= f.error_messages %>

  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :email, :required => true %>
  <%= f.input :phone_number %>

  <div class="form-actions">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
<% end %>