<% subtitle 'Practices' %>
<p><%= link_to 'Add a practice', new_season_practice_path(@season), :class => 'btn' %></p>

<% if @season.practices.empty? %>
  <div class="alert alert-block alert-info">
    <h4>No practices for this season yet.</h4>
    <%= link_to 'Add a practice', new_season_practice_path(@season) %> to get playing.
  </div>
<% else %>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th style="width: 182px;">Going?</th>
        <th>Date</th>
        <th>Comment</th>
        <th style="width: 193px;">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% @season.practices.each do |practice| %>
        <tr>
          <td>
            <div class="pull-left">
              <% if practice_session = practice.practice_session_for_user(current_user.id) %>
                <%= link_to "I'm not going",
                  practice_practice_session_path(practice, practice_session),
                  :method => :delete,
                  :class => 'btn btn-small btn-warning' %>
              <% else %>
                <%= form_tag practice_practice_sessions_path(practice), :style => 'margin-bottom: 0px;' do %>
                  <%= submit_tag "I'm going", :class => 'btn btn-small' %>
                <% end %>
              <% end %>
            </div>
            <div class="pull-right">
              <%= render :partial => 'practice_confirmations', :locals => { :practice => practice } %>
            </div>
          </td>
          <td><%= l practice.date, :format => :long %></td>
          <td><%= practice.comment %></td>
          <td>
            <% if practice.notified_team? %>
              <%= link_to 'Notify team', notify_practice_path(practice), :method => :post, :class => 'btn btn-small disabled' %>
            <% else %>
              <%= link_to 'Notify team', notify_practice_path(practice), :method => :post, :class => 'btn btn-small' %>
            <% end %>
            <%= link_to 'Edit', edit_practice_path(practice), :class => 'btn btn-small' %>
            <%= link_to 'Delete',
              practice_path(practice),
              :data => { :confirm => 'Are you sure?' },
              :method => :delete,
              :class => 'btn btn-small btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
