<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Member</th>
      <% matches.each do |match| %>
        <th><%= l match.date, :format => :short %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% current_team.new_and_active_users.order(:first_name).each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <% matches.each do |match| %>
          <% availablility = match.match_availability_for(user.id) %>
          <% if availablility.new_record? %>
            <td class="text-center">
              <span class="label label-default">n/a</span>
            </td>
          <% else %>
            <% label = availablility.available? ? 'success' : 'danger' %>
            <td class="text-center <%= label %>">
              <span class="label label-<%= label %>">
                <%= availablility.available? ? 'yes' : 'no' %>
              </span>
            </td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

