<%= simple_form_for([@season, @match], :html => { :class => 'form-horizontal' } ) do |f| %>
  <%= f.error_messages %>

  <%= f.input :date_string,
    :as => :string,
    :label => 'When?',
    :hint => 'e.g. January 5 at 7pm &ndash; or &ndash; tomorrow at 8pm' %>
  <%= f.input :location, :collection => Match::LOCATIONS, :label_method => :humanize, :value_method => :to_s %>
  <%= f.input :opponent %>

  <div class="form-actions">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
<% end %>