<% matches.each do |match| %>
  <% match_availability = match.match_availability_for(current_user.id) %>
  <div class="panel panel-<%= availability_label(match_availability.state) %>">
    <div class="panel-heading">
      Can you play?
      <div class="btn-group btn-group-sm">
        <%= link_to "Yes",
          match_match_availability_path(match, match_availability, team_id: current_team.id, state: 'yes'),
          data: { label: 'success' },
          remote: true,
          method: :patch,
          class: "availability btn btn-#{match_availability.yes? ? 'success disabled' : 'default'}" %>

        <%= link_to "Maybe",
          match_match_availability_path(match, match_availability, team_id: current_team.id, state: 'maybe'),
          data: { label: 'info' },
          remote: true,
          method: :patch,
          class: "availability btn btn-#{match_availability.maybe? ? 'info disabled' : 'default'}" %>

        <%= link_to "No",
          match_match_availability_path(match, match_availability, team_id: current_team.id, state: 'no'),
          data: { label: 'danger' },
          remote: true,
          method: :patch,
          class: "availability btn btn-#{match_availability.no? ? 'danger disabled' : 'default'}" %>
      </div>

      <% if policy(current_team).captain? %>
        <div class="pull-right">
          <%= link_to 'Edit match', edit_team_match_path(current_team, match), :class => 'btn btn-sm btn-default' %>
        </div>
      <% end %>
    </div>
    <div class="panel-body">
      <% if policy(current_team).captain? %>
        <%= render partial: 'shared/match_details', locals: { match: match } %>
        <div class="row">
          <div class="col-md-5">
            <div class="row">
              <div class="col-md-3">
                <label>Availability:</label>
              </div>
              <div class="col-md-9">
                <p>
                  <%= link_to availability_email_team_match_path(current_team, match) do %>
                    <span class="glyphicon glyphicon-envelope"></span>
                    Preview and send availability email
                  <% end %>
                </p>
                <p>
                  <%= link_to "Who can play?", availabilities_team_match_path(current_team, match) %>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-7">
            <div class="row">
              <div class="col-md-3 col-lg-2">
                <label>Lineup:</label>
              </div>
              <div class="col-md-9 col-lg-10">
                <p><%= link_to 'Set the lineup', edit_lineup_match_path(match, team_id: current_team.id) %></p>
                <p>
                  <%= link_to lineup_email_team_match_path(current_team, match) do %>
                    <span class="glyphicon glyphicon-envelope"></span>
                    Preview and send lineup email
                  <% end %>
                </p>
              </div>
            </div>
          </div>
        </div>
      <% else %>
        <%= render partial: 'shared/match_details', locals: { match: match } %>
      <% end %>
    </div>
  </div>
<% end %>

<script>
  $(function() {
    $('.panel').on('ajax:success', '.availability', function(e, data, status, xhr) {
      var availability = $(this);
      var match = availability.closest('.panel');
      match.find('.availability').removeClass('disabled btn-success btn-info btn-danger btn-warning').addClass('btn-default').off('click');
      availability.removeClass('btn-default').addClass('disabled btn-' + availability.data('label'));
      match.removeClass('panel-success panel-info panel-danger panel-warning').addClass('panel-' + availability.data('label'));
    });
  });
</script>

