<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th style="width: 182px;">Can play?</th>
      <% if policy(current_team).captain? %>
        <th>Match Summary</th>
        <th style="width: 222px;">Lineup and emails</th>
        <th>&nbsp;</th>
      <% else %>
        <th>Date</th>
        <th>Match Summary</th>
        <th>Captain's Comments</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% matches.each do |match| %>
      <% match_availability = match.match_availability_for(current_user.id) %>
      <% show_yes_form = match_availability.new_record? ? true : !match_availability.available? %>
      <% show_no_form = match_availability.new_record? ? true : match_availability.available? %>
      <tr class="<%= match_availability.new_record? ? '' : (match_availability.available? ? 'success' : 'danger') %>">
        <td>
          <div class="pull-left">
            <% if show_yes_form %>
              <%= form_for [match, match_availability], html: { style: 'margin-bottom: 0px;' } do |f| %>
                <%= f.hidden_field :available, value: true %>
                <%= hidden_field_tag :team_id, current_team.id %>
                <%= submit_tag 'I can play', :class => 'btn btn-xs btn-default' %>
              <% end %>
            <% else %>
              <span class="label label-success">You can play</span>
            <% end %>
          </div>
          <div class="pull-right">
            <% if show_no_form %>
              <%= form_for [match, match_availability], html: { style: 'margin-bottom: 0px;' } do |f| %>
                <%= f.hidden_field :available, value: false %>
                <%= hidden_field_tag :team_id, current_team.id %>
                <%= submit_tag "I can't play", :class => 'btn btn-xs btn-default' %>
              <% end %>
            <% else %>
              <span class="label label-danger">You can't play</span>
            <% end %>
          </div>
        </td>
        <% if policy(current_team).captain? %>
          <td>
            <p>When: <%= l match.date, :format => :long %></p>
            <%= render :partial => 'shared/match_location', :locals => { :match => match } %>
          </td>
          <td>
            <p>
              <%= link_to availability_email_team_match_path(current_team, match) do %>
                <span class="glyphicon glyphicon-envelope"></span>
                Request availability email
              <% end %>
            </p>
            <p><%= render :partial => 'match_availabilities', :locals => { :match => match } %></p>
            <p><%= link_to 'Set the lineup', edit_lineup_match_path(match, team_id: current_team.id) %></p>
            <p>
              <%= link_to lineup_email_team_match_path(current_team, match) do %>
                <span class="glyphicon glyphicon-envelope"></span>
                Lineup email
              <% end %>
            </p>
          </td>
          <td>
            <p><%= link_to 'Edit match', edit_team_match_path(current_team, match), :class => 'btn btn-xs btn-default' %></p>
          </td>
        <% else %>
          <td>
            <%= l match.date, :format => :long %>
          </td>
          <td>
            <%= render :partial => 'shared/match_location', :locals => { :match => match } %>
          </td>
          <td>
            <p><%= simple_format match.comment %></p>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

