<% matches.each do |match| %>
  <% match_availability = match.match_availability_for(current_user.id) %>
  <% show_yes_form = match_availability.new_record? ? true : !match_availability.available? %>
  <% show_no_form = match_availability.new_record? ? true : match_availability.available? %>
  <div class="panel panel-<%= match_availability.new_record? ? 'default' : (match_availability.available? ? 'success' : 'danger') %>">
    <div class="panel-heading">
      <h3 class="panel-title clearfix">
        <div class="pull-left">
          <% if show_yes_form %>
            <%= form_for [match, match_availability], html: { style: 'margin-bottom: 0px;' } do |f| %>
              <%= f.hidden_field :available, value: true %>
              <%= hidden_field_tag :team_id, current_team.id %>
              <%= submit_tag 'I can play', :class => 'btn btn-sm btn-default' %>
            <% end %>
          <% else %>
            <button class="btn btn-sm btn-success" disabled="disabled">You can play</button>
          <% end %>
        </div>

        <div class="pull-left" style="margin-left: 15px;">
          <% if show_no_form %>
            <%= form_for [match, match_availability], html: { style: 'margin-bottom: 0px;' } do |f| %>
              <%= f.hidden_field :available, value: false %>
              <%= hidden_field_tag :team_id, current_team.id %>
              <%= submit_tag "I can't play", :class => 'btn btn-sm btn-default' %>
            <% end %>
          <% else %>
            <button class="btn btn-sm btn-danger" disabled="disabled">You can't play</button>
          <% end %>
        </div>

        <% if policy(current_team).captain? %>
          <div class="pull-right">
            <%= link_to 'Edit match', edit_team_match_path(current_team, match), :class => 'btn btn-sm btn-default' %>
          </div>
        <% end %>
      </h3>
    </div>
    <div class="panel-body">
      <% if policy(current_team).captain? %>
        <%= render partial: 'shared/match_details', locals: { match: match } %>
        <div class="row">
          <div class="col-md-5">
            <div class="row">
              <div class="col-md-3">
                <label>Availability:</label>
              </div>
              <div class="col-md-9">
                <p>
                  <%= link_to availability_email_team_match_path(current_team, match) do %>
                    <span class="glyphicon glyphicon-envelope"></span>
                    Preview and send availability email
                  <% end %>
                </p>
                <p><%= render :partial => 'match_availabilities', :locals => { :match => match } %></p>
              </div>
            </div>
          </div>
          <div class="col-md-7">
            <div class="row">
              <div class="col-md-3 col-lg-2">
                <label>Lineup:</label>
              </div>
              <div class="col-md-9 col-lg-10">
                <p><%= link_to 'Set the lineup', edit_lineup_match_path(match, team_id: current_team.id) %></p>
                <p>
                  <%= link_to lineup_email_team_match_path(current_team, match) do %>
                    <span class="glyphicon glyphicon-envelope"></span>
                    Preview and send lineup email
                  <% end %>
                </p>
              </div>
            </div>
          </div>
        </div>
      <% else %>
        <%= render partial: 'shared/match_details', locals: { match: match } %>
      <% end %>
    </div>
  </div>
<% end %>

