<ul>
  <% @match.match_lineups.each do |lineup| %>
    <li>
      <strong><%= lineup.match_type %></strong>
      <% lineup.active_match_players.includes(:user).each do |player| %>
        <%= player.user.name %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= render :partial => 'shared/match_location', :locals => { :match => @match } %>
<%= render :partial => 'shared/commentable', :object => @match %>

<% if @comments.present? %>
  <p><%= simple_format @comments %></p>
<% end %>

<p>Thanks!</p>

