<%= render 'shared/mailer_header' %>

<p>Can you play?</p>
<p>
  <%= link_to "YES",
    set_availability_team_match_availabilities_url(
      @match.team,
      available: 'yes',
      token: @match.match_availability_token_for(@user_id)),
    style: "margin: 0px 10px 0px 0px; font-size: 24px;" %>
  or
  <%= link_to "NO",
    set_availability_team_match_availabilities_url(
      @match.team,
      available: 'no',
      token: @match.match_availability_token_for(@user_id)),
    style: "margin: 0px 10px; font-size: 24px;" %>
</p>

<table>
  <tr>
    <td style="vertical-align: top;">When:</td>
    <td style="width: 20px">&nbsp;</td>
    <td><%= l @match.date, :format => :long %></td>
  </tr>
  <tr><td colspan="3"><br></td></tr>
  <tr>
    <td style="vertical-align: top;">Where:</td>
    <td style="width: 20px">&nbsp;</td>
    <td>
      <strong><%= @match.team_location %></strong>
      <%= simple_format(@match.location) %>
    </td>
  </tr>
  <% if @match.opponent.present? %>
    <tr><td colspan="3"><br></td></tr>
    <tr>
      <td style="vertical-align: top;">Opponent:</td>
      <td style="width: 20px">&nbsp;</td>
      <td><%= @match.opponent %></td>
    </tr>
  <% end %>
  <% if @match.comment.present? %>
    <tr><td colspan="3"><br></td></tr>
    <tr>
      <td style="vertical-align: top;">Comments:</td>
      <td style="width: 20px">&nbsp;</td>
      <td><%= simple_format(@match.comment) %></td>
    </tr>
  <% end %>
</table>

<%= render 'shared/mailer_footer' %>

