<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:page_title) ? yield(:page_title) : 'Tennis' %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to 'Tennis', root_path, :class => 'brand' %>
        <ul class="nav">
          <li><%= link_to 'Seasons', seasons_path %></li>
          <li><%= link_to 'Users',   users_path %></li>
        </ul>
        <ul class="nav pull-right">
          <% if current_user %>
            <li><%= link_to current_user.name, edit_user_registration_path(current_user) %></li>
            <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
          <% else %>
            <li><%= link_to 'Sign in', new_user_session_path %></li>
            <li><%= link_to 'Sign up', new_user_registration_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <% flash.each do |name, msg| %>
      <div class="flash">
        <div class="alert alert-<%= flash_name_for_bootstrap(name)[:class] %>">
          <i class='icon-<%= flash_name_for_bootstrap(name)[:icon] %>'></i>
          <%= msg %>
        </div>
      </div>
    <% end %>

    <% if show_title? %>
      <div class="page-header">
        <h1><%= yield :page_header %></h1>
      </div>
    <% end %>

    <%= yield %>
  </div>

</body>
</html>
