<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:page_title) ? yield(:page_title) : 'Breakpoint App' %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <% if Rails.env == 'production' %>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-38883939-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  <% end %>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to 'Breakpoint App', root_path, :class => 'brand' %>
        <ul class="nav">
          <li><%= link_to 'Teams', teams_path %></li>
        </ul>
        <ul class="nav pull-right">
          <% if current_user %>
            <li><%= link_to current_user.name, edit_user_registration_path %></li>
            <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
          <% else %>
            <li><%= link_to 'Sign in', new_user_session_path %></li>
            <li><%= link_to 'Sign up', new_user_registration_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <% flash.each do |name, msg| %>
      <div class="flash">
        <div class="alert alert-<%= flash_name_for_bootstrap(name)[:class] %>">
          <i class='icon-<%= flash_name_for_bootstrap(name)[:icon] %>'></i>
          <%= msg %>
        </div>
      </div>
    <% end %>

    <% if show_title? %>
      <div class="page-header">
        <h1>
          <%= yield :page_header %>
          <% if content_for?(:subtitle) %>
            <small>&raquo; <%= yield(:subtitle) %></small>
          <% end %>
        </h1>
      </div>
    <% end %>

    <%= content_for?(:team_nav) ? yield(:team_nav) : yield %>
  </div>

</body>
</html>

