<% content_for :team_nav do %>
  <% title current_team.name %>
  <div class="row">
    <div class="col-md-2">
      <ul class="nav nav-pills nav-stacked">
        <%= active_tab 'match' do %>
          <%= link_to 'Matches', team_matches_path(current_team) %>
        <% end %>
        <%= active_tab 'practices' do %>
          <%= link_to 'Practices', team_practices_path(current_team) %>
        <% end %>
        <%= active_tab 'team_members' do %>
          <%= link_to 'Team', team_team_members_path(current_team) %>
        <% end %>
      </ul>
    </div>
    <div class="col-md-10">
      <%= yield %>
    </div>
  </div>
<% end %>
<%= render :template => 'layouts/application' %>

