<p>Will you attend?</p>
<p>
  <%= link_to "YES",
    set_availability_team_practice_sessions_url(
      @practice.team,
      available: 'yes',
      token: @practice.practice_session_token_for(@user_id)),
    style: "margin: 0px 10px 0px 0px; font-size: 24px;" %>
  or
  <%= link_to "NO",
    set_availability_team_practice_sessions_url(
      @practice.team,
      available: 'no',
      token: @practice.practice_session_token_for(@user_id)),
    style: "margin: 0px 10px; font-size: 24px;" %>
</p>

<table>
  <tr>
    <td style="vertical-align: top;">When:</td>
    <td style="width: 20px">&nbsp;</td>
    <td><%= l @practice.date, :format => :long %></td>
  </tr>
  <% if @practice.location.present? %>
    <tr><td colspan="3"><br></td></tr>
    <tr>
      <td style="vertical-align: top;">Where:</td>
      <td style="width: 20px">&nbsp;</td>
      <td>
        <%= simple_format(@practice.location) %>
      </td>
    </tr>
  <% end %>
  <% if @practice.comment.present? %>
    <tr><td colspan="3"><br></td></tr>
    <tr>
      <td style="vertical-align: top;">Comments:</td>
      <td style="width: 20px">&nbsp;</td>
      <td><%= simple_format(@practice.comment) %></td>
    </tr>
  <% end %>
</table>

